.hotelList{
  width:20%;
  margin: 30px auto;
  border: 1px solid #E5E5E5;
  padding: 0 30px 30px 30px;


}

.date{
  margin-top: 20px;
}

.district{
  /* width: 40%; */
  /* display: inline-block; */
}

.province{
  /* width: 60%; */
  /* display: inline-block; */
  margin: 20px 0 10px 0;
  padding: 0;
}

.province select{
  cursor: pointer;
  background: white;
}

.hotelName{
  font-size: 20px;
}

.hotelBoxContainer{
  cursor: pointer;
  width: 95%;
  margin:auto;
  text-align: center;
  padding: 10px 20px;
}

.hotelBox{
  display: inline-block;
  padding: 0 0 10px 0;
  height:250px;
  width: 240px;
  text-align: left;
  border: 1px solid #E5E5E5;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;

}

.datePickerDec1{
  padding: 5px 7px;
  margin-right: 10px;
}

.datePickerDec2{
  padding: 5px 7px;
}




.lightFont{
  font-family: 'Sarabun', sans-serif;
  font-weight: 100;
}

.boldFont{
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
}

.moreDetail{
  width:100%;
}

.picContainer{
  overflow: hidden;
}

.hotelPic{
  object-fit: cover;
  height: 100%;
  width:100%;
  transition: filter .5s, transform .5s ease;
}

.hotelPic:hover {
   transform: scale(1.5);
  filter: brightness(0.5);

}
