<app-navbar></app-navbar>
<div class='hotelList'>
  <p class='big'>กรุงเทพมหานคร</p>
  <p class='medium'>เขต: ราษฎร์บูรณะ</p>
</div>
  <div class='hotelBoxContainer'>

    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>

  </div>

  <div class='hotelBoxContainer'>

    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>

  </div>
  <div class='hotelBoxContainer'>

    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>
    <div class='hotelBox'>
      <!-- <img src='../../assets/logo.png'> -->
      <h1>XXXX</h1>
    </div>

  </div>

