
<div class='bg'>
  <img src='../../assets/bangkok.jpg'>
  <b><p class="header1 boldFont">THE EXISTING HOSTALE MANAGEMENT</p></b>
  <p class="header2 lightFont">เว็บไซต์จองห้องพักอันดับหนึ่งของประเทศ</p>
  <a href="/hotelList" style="text-decoration: none; color:black;"><button class="button lightFont">ค้นหาห้องพัก</button></a>
</div>
<!-- <div style="text-align: center; padding:2.5%;">
<img src="../../assets/logo.png" style="height: 50px; margin: 0 30px;">
<img src="../../assets/PrimaryLogo-thai@2x.png" style="height: 50px;  margin: 0 30px;">
<img src="../../assets/kmutt_logo.png" style="height: 70px;  margin: 0 30px;">
</div> -->
